*{
  margin: 0px; padding: 0px;
}
body{
  font-family: 'Verdana';
}
header{
  width: 100%; height: 120px;
  position: fixed;
  border-bottom: 1px solid black;
  z-index: 1;
  background-color: white;
}
.header_top{
  width: 1180px; height: 40px;
  margin-left: auto; margin-right: auto;
  position: relative;
}
.header_top nav{
  left: 20px;
  position: relative;
  float: right;
}
.header_top nav>ul{
  position: relative;
  right: 20px; top: 20px;
}
.header_top nav>ul>li{
  list-style: none;
  float: left;
  padding: 0px 10px;
}
.header_top nav>ul>li a{
  text-decoration: none;
  color: lightgray;
}
.header_bottom{
  width: 1180px; height:80px;
  margin-left: auto; margin-right: auto;
  position: relative;
}
.header_bottom h1 a{
  color: black;
  float: left;
  text-decoration: none;
  position: absolute;
  left: 10px; bottom: 15px;
}
.header_bottom h1 a:hover{
  color: orange;
}
.header_bottom nav{
  float: right;
  position: absolute;
  right: -35px; bottom: 0px;
}
.header_bottom nav>ul>li{
  list-style: none;
  float: left;
  padding: 20px 35px;
}
.header_bottom nav>ul>li a{
  color: black;
  float: left;
  text-decoration: none;
}
.header_bottom nav>ul>li a:hover{
  color: orange;
}
section{
  width: 1000px; height: 1700px;
  margin-left: auto; margin-right: auto;
  position: relative; top: 120px;
}
#se1{
  width: 1000px; height: 400px;
}
.s1{
  width: 700px; height: 400px;
  background-image: url(img/700x400.png);
  float: left;
  position: relative;
}
.s1 > p{
  color: white;
  font-size: 30px; font-weight: bold;
  position: absolute;
  bottom: 10px; right: 10px;
}
.s2{
  width: 290px; height: 400px;
  float: left;
  margin-left: 10px;
  position: relative;
}
.s2_1{
  width: 290px; height: 190px;
  background-image: url(img/290x190.png);
  position: relative;
}
.s2_1 > p{
  color: white;
  font-size: 25px;
  position: absolute;
  top: 50px; left: 10px;
}
.s2_2{
  width: 290px; height: 95px;
  margin-top: 10px;
  position: relative;
}
.s2_2 > p{
  color: white;
  font-size: 25px;
  position: absolute;
  bottom: 20px; right: 10px;
}
#se2{
  width: 1000px; height: 500px;
}
.s3{
  width: 500px; height: 500px;
  float: left;
  position: relative;
}
.s3_1{
  width: 490px; height: 240px;
  margin-top: 10px; margin-right: 10px;
  position: relative;
}
.s3_1 > .s3_2{
  width: 300px;
  position: absolute;
  top: 160px;
  margin-left: 100px;
}
.s3_1 > .s3_3{
  color: gold;
  font-size: 30px; font-weight: bold;
  position: absolute;
  bottom: 30px; right: 20px;
}
.s4{
  width: 500px; height: 490px;
  background-image: url(img/500x490.png);
  margin-top: 10px;
  position: relative;
  float: left;
}
.s5{
  width: 1000px; height: 371px;
  background-image: url(img/1000x371.png);
  position: relative;
  margin-top: 10px;
}
.s5 > p{
  color: white;
  font-size: 50px; font-weight: bold;
  position: relative;
  text-align: center; top: 160px;
}
.s6{
  width: 1000px; height: 361px;
  background-image: url(img/1000x361.png);
  margin-top: 10px;
  position: relative;
}
.s6 > p{
  width: 450px; height: 150px;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 40px; right: 30px;
}
